{% extends '::base.html.twig' %}

{% block messages %}{% endblock %}
{% block breadcrumb %}{% endblock %}
{% block seo_header %}{% endblock %}
{% block seo_footer %}{% endblock %}
{% block nav %}{% endblock %}

{% block container %}
    <div id="krg_cms_wrapper">
        {{ page.content|raw }}
    </div>

    <div class="krg-widgets">
        <button class="add">+</button>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/krgcms/contenttools/content-tools.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/krgcms/contenttools/style.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/krgcms/contenttools/content-tools.js') }}"></script>
    <script type="text/javascript">
        var editor, header, footer, btnAddBlock, krgWidget, krgWrapper = null;

        ContentTools.DEFAULT_TOOLS = [
            [
                'bold',
                'italic',
                'link',
                'align-left',
                'align-center',
                'align-right'
            ], [
                'unordered-list',
                'ordered-list',
                'image',
            ], [
                'undo',
                'redo',
            ]
        ];

        window.addEventListener('load', function () {
            editor = ContentTools.EditorApp.get();
            header = document.querySelector('header');
            footer = document.querySelector('footer');
            krgWidget = document.querySelector('.krg-widgets');
            btnAddBlock = document.querySelector('.krg-widgets button.add');
            krgWrapper = document.getElementById('krg_cms_wrapper');

            editor.init('*[data-editable], *[data-fixture]');

            // Disable all links
            var links = document.getElementsByTagName('a');
            for (var i = 0; i < links.length; i++) {
                links[i].addEventListener('click', function(event) {
                    event.preventDefault();
                });
            }
        });

        function createElement(content) {
            return new ContentEdit.Text('div', {}, content);
        }

        function createRegion(element)
        {
            return new ContentEdit.Region(element);
        }

        function createFlashUI(txt)
        {
            new ContentTools.FlashUI(txt);
        }
    </script>
{% endblock %}

