{% extends '::base.html.twig' %}

{% block messages %}{% endblock %}
{% block breadcrumb %}{% endblock %}
{% block seo_header %}{% endblock %}
{% block seo_footer %}{% endblock %}
{% block nav %}{% endblock %}

{% set wrapperId = 'krg_cms_page_wrapper' %}

{% block page %}
    <div id="{{ wrapperId }}">
        {{ page.content|raw }}
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/krgcms/cbuilder/cbuilder.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/krgcms/cbuilder/jquery.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/krgcms/cbuilder/jquery-ui.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/krgcms/cbuilder/contentbuilder.js') }}" type="text/javascript"></script>

    <script type="text/javascript">
        var element = null;

        $(document).ready(function ($) {
            element = $('#{{ wrapperId }}');
        });

        function start() {
            if (element) {
                element.contentbuilder({
                    snippetFile: "{{ path('krg_page_snippets') }}",
                    sourceEditor: false,
                    toolbar: 'left',
                    buttons: [
                        "bold", "italic", "underline", "strikethrough", "color", "removeFormat", "align", "list", "createLink", "unlink"
                    ],
                });
            }
        }

        function stop() {
            if (element.data('contentbuilder')) {
                element.data('contentbuilder').destroy();
            }
        }

        function toggleHeaderFooter() {
            var header = $('header').first();
            var footer = $('footer').first();

            if (header) { header.toggle(); }
            if (footer) { footer.toggle(); }
        }
    </script>
{% endblock %}

