{% block form_row %}
    {% if form.vars.sonata_admin.admin.subject.id %}
        <div class="well well-small">
            <div id="sonata-ba-field-container-{{ id }}">
                <div class="sonata-ba-field sonata-ba-field-{{ sonata_admin.edit }}-{{ sonata_admin.inline }}">
                    {{ form_widget(form, {'attr': {'class': 'hide'}}) }}

                    Form parameters:

                    <ul>
                        {% for key, value in form.vars.form.vars.sonata_admin.admin.subject.formData %}
                            <li>
                                {{ key }}:
                                {% if value is iterable %}
                                    <ul>
                                        {% for subkey, subvalue in value %}
                                            <li>{{ subkey }}: {{ subvalue }}</li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    {{ value }}
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>

                    <a href="{{ form.vars.sonata_admin.admin.subject.seo.url }}" class="btn btn-primary">Edit form parameters</a>
                </div>
            </div>
        </div>
    {% else %}
        {{ block('hidden_widget') }}
    {% endif %}
{% endblock %}
