{% extends '@EasyAdmin/default/edit.html.twig' %}

{% block entity_form %}
    {{ form_start(form) }}
    {{ form_row(form.enabled) }}
    {{ form_row(form.route) }}
    {{ form_row(form.url) }}

    {% if form.enabled.vars.data %}
        <p class="text-center">
            <a href="{{ form.url.vars.data }}" class="btn btn-primary action-new" target="_blank">See page</a>
        </p>
    {% endif %}

    {% if form.url.vars.attr['available']|length %}
        <hr>
        <strong>Available vars:</strong> {{ form.url.vars.attr['available'] }}
    {% endif %}

    <hr>
    <h4>Metas</h4>
    {{ form_row(form.metaTitle) }}
    {{ form_row(form.metaDescription) }}
    {{ form_row(form.metaRobots) }}

    <hr>
    <h4>Open Graph</h4>
    {{ form_row(form.ogTitle) }}
    {{ form_row(form.ogDescription) }}
    {{ form_row(form.ogImage) }}

    <input type="submit" value="submit">

    <div class="hidden">
        {{ form_rest(form) }}
    </div>

    {{ form_end(form) }}
{% endblock entity_form %}
