{% extends '@EasyAdmin/default/edit.html.twig' %}

{% block entity_form %}
    {{ form_start(form) }}
    {{ form_row(form.seo.enabled) }}
    {% if form.formType.vars.value %}
        {{ form_row(form.formType) }}
    {% endif %}
    {{ form_row(form.seo.url) }}
    {{ form_row(form.key) }}

    {% if form.formType.vars.value %}
        <p class="text-center">
            {% if form.seo.enabled.vars.data %}
                <a href="{{ form.seo.url.vars.data }}" class="btn btn-primary action-new">Edit form parameters</a>
            {% else %}
                <a href="#" disabled="disabled" class="btn btn-primary action-new">Edit form parameters</a>

                Please <span class="label">enable</span> this SeoPage before editing form parameters.
            {% endif %}
        </p>
    {% endif %}

    <hr>
    <h4>Content</h4>
    {{ form_row(form.preContent) }}
    {{ form_row(form.postContent) }}

    <hr>
    <h4>Metas</h4>
    {{ form_row(form.seo.metaTitle) }}
    {{ form_row(form.seo.metaDescription) }}
    {{ form_row(form.seo.metaRobots) }}

    <hr>
    <h4>Open Graph</h4>
    {{ form_row(form.seo.ogTitle) }}
    {{ form_row(form.seo.ogDescription) }}
    {{ form_row(form.seo.ogImage) }}

    <input type="submit" value="submit">

    <div class="hidden">
        {{ form_rest(form) }}
    </div>

    {{ form_end(form) }}
{% endblock entity_form %}
