{% block breadcrumb %}
    {% if nodes|length > 0 %}
        <ul class="breadcrumb">
            {% for node in nodes %}
                {% if is_granted_roles(node.roles) %}
                    {{ block('breadcrumb_node') }}
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}

{% block breadcrumb_node %}
    <li class="{% if node.active %}active{% endif %}">
        {{ block(node.url ? 'breadcrumb_link' : 'breadcrumb_name') }}
    </li>
{% endblock %}

{% block breadcrumb_link %}
    <a href="{{ node.url }}">
        {{ block('breadcrumb_name') }}
    </a>
{% endblock %}

{% block breadcrumb_name %}
    {{ node.name|trans }}
{% endblock %}
