{% trans_default_domain 'toolbar' %}

{% if seo is null %}
    <div class="krg-toolbar-block">
        <a href="{{ path('easyadmin') }}?entity=Seo&action=new&url={{ app.request.uri }}" title="{{ 'seo.create'|trans }}">
            {{ include('@KRGCms/icon/plus.svg') }} Seo
        </a>
    </div>
{% endif %}

{% if page is not null %}
    <div class="krg-toolbar-block">
        <a href="{{ path('easyadmin') }}?entity=Page&action=edit&id={{ page.id }}" title="{{ 'page.edit'|trans }}">
            {{ include('@KRGCms/icon/page.svg') }} Page
        </a>

        <div class="krg-toolbar-info">
            <div class="krg-toolbar-info-group">
                <div class="krg-toolbar-info-piece">
                    <b>{{ 'page.name'|trans }}</b>
                    <span>{{ page.name }}</span>
                </div>

                {% include '@KRGCms/toolbar/_seo_infos.html.twig' with {'seo': page.seo} only %}
            </div>
        </div>
    </div>
{% elseif filter is not null %}
    <div class="krg-toolbar-block">
        <a href="{{ path('easyadmin') }}?entity=Filter&action=edit&id={{ filter.id }}" title="{{ 'filter.edit'|trans }}">
            {{ include('@KRGCms/icon/filter.svg') }} {{ 'filter.filter'|trans }}
        </a>

        <div class="krg-toolbar-info">
            <div class="krg-toolbar-info-group">
                {% include '@KRGCms/toolbar/_seo_infos.html.twig' with {'seo': filter.seo} only %}

                <div class="krg-toolbar-info-piece">
                    <b>{{ 'filter.name'|trans }}</b>
                    <span>{{ filter.name }}</span>
                </div>

                <div class="krg-toolbar-info-piece">
                    <b>{{ 'filter.type'|trans }}</b>
                    <span>{{ filter.form.type }}</span>
                </div>

                <div class="krg-toolbar-info-piece">
                    <b>{{ 'filter.data'|trans }}</b>
                    <span class="krg-toolbar-dump">
                        {% for key, value in filter.form.data if value|length > 0 %}
                            {{ key }} = {{ value }}
                        {% endfor %}
                    </span>
                </div>
            </div>
        </div>
    </div>
{% elseif seo is not null %}
    <div class="krg-toolbar-block">
        <a href="{{ path('easyadmin') }}?entity=Seo&action=edit&id={{ seo.id }}" title="{{ 'seo.edit'|trans }}">
            {{ include('@KRGCms/icon/search.svg') }} Seo
        </a>

        <div class="krg-toolbar-info">
            <div class="krg-toolbar-info-group">
                {% include '@KRGCms/toolbar/_seo_infos.html.twig' with {'seo': seo} only %}
            </div>
        </div>
    </div>
{% endif %}
