{% trans_default_domain 'toolbar' %}

{% if seo is null %}
    <div class="krg-toolbar-block">
        <a href="{{ path('easyadmin') }}?entity=Seo&action=new">
            {{ 'seo.create'|trans }}
        </a>
    </div>
{% endif %}

{% if seo is not null %}
    <div class="krg-toolbar-block">
        <a href="{{ path('easyadmin') }}?entity=Seo&action=edit&id={{ seo.id }}">
            {{ 'seo.edit'|trans }}
        </a>

        <div class="krg-toolbar-info">
            <div class="krg-toolbar-info-group">
                <div class="krg-toolbar-info-piece">
                    <b>{{ 'seo.meta.title'|trans }}</b>
                    <span>{{ seo.metaTitle }}</span>
                </div>

                <div class="krg-toolbar-info-piece">
                    <b>{{ 'seo.meta.description'|trans }}</b>
                    <span>{{ seo.metaDescription }}</span>
                </div>
            </div>
        </div>
    </div>
{% endif %}

