{% form_theme form with easyadmin_config('design.form_theme') %}

{% block content_tools_widget %}
    <div style="display: none">
        {{ form_widget(form) }}
    </div>

    <section id="{{ form.vars.id }}_part_source" class="cms-source" style="display: none;" >
        <pre></pre>
    </section>

    <section id="{{ form.vars.id }}_part_content_tools" class="cms-content-tools">
        <header>
            <div class="pull-left">
                <button id="{{ form.vars.id }}_btn_update" class="btn btn-primary">Update</button>
                <button id="{{ form.vars.id }}_btn_cancel" class="btn btn-danger">Cancel</button>
            </div>

            <div class="pull-right">
                <div class="pull-left" style="margin-right: 30px;">
                    <div class="checkbox">
                        <label><input id="{{ form.vars.id }}_toggler_draggable" type="checkbox" value="">Draggable</label>
                    </div>
                </div>
                {% if form.vars.toggler_hf %}
                <div class="pull-left" style="margin-right: 30px;">
                    <div class="checkbox">
                        <label><input id="{{ form.vars.id }}_toggler_header_footer" type="checkbox" value="" checked>Header / footer</label>
                    </div>
                </div>
                {% endif %}

                <div class="pull-right">
                    {% if form.vars.responsive is not empty %}
                        <div id="{{ form.vars.id }}_toggler_display" class="btn-group btn-group-toggle" data-toggle="buttons">
                            {% for responsive in form.vars.responsive %}
                                <label class="btn btn-secondary{% if loop.first	%} active{% endif %}">
                                    <input type="radio" autocomplete="off" value="{{ responsive.width }}" checked> {{ responsive.name }}
                                </label>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </header>

        <section id="{{ form.vars.id }}_modal" class="krg-modal">
            <div class="krg-modal-body">
                <header class="krg-modal-title">
                    <h3>Insert a block</h3>
                </header>

                <section class="krg-modal-main">
                    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                        <div id="{{ form.vars.id }}_blocks" class="row">
                            {% for block in krg_block_list() %}
                                <div class="col-sm-6 col-md-4">
                                    <a href="#" class="thumbnail text-center" data-render="{{ block.render }}">
                                        {% if block.thumbnail is not null %}
                                            <img src="{{ asset(block.thumbnail) }}" alt="">
                                        {% endif %}
                                        <h3>{{ block.name }}</h3>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </section>

                <div style="clear:both"></div>
            </div>
        </section>

        <iframe id="{{ form.vars.id }}_iframe" width="100%" height="100%" srcdoc="{{ form.vars.value }}" frameborder="0"></iframe>
    </section>

    <script src="{{ asset('bundles/krgcms/ace/ace.js') }}" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
        (function () {
            var textarea = document.getElementById('{{ form.vars.id }}');
            var iframe = document.getElementById('{{ form.vars.id }}_iframe');
            var contentToolsView = document.getElementById('{{ form.vars.id }}_part_content_tools');
            var sourceView = document.getElementById('{{ form.vars.id }}_part_source');
            var btnEdition = document.getElementById('{{ form.vars.id }}_btn_edition');
            var btnSource = document.getElementById('{{ form.vars.id }}_btn_source');
            var btnSourceCancel = document.getElementById('{{ form.vars.id }}_btn_source_cancel');
            var btnUpdate = document.getElementById('{{ form.vars.id }}_btn_update');
            var btnCancel = document.getElementById('{{ form.vars.id }}_btn_cancel');
            var modal = document.getElementById('{{ form.vars.id }}_modal');
            var editor, aceEditor, btnAddBlock = null;

            initIframe();
            initBlock();
            initAce();

            {% if form.vars.toggler_hf %}
            initToolbarTogglerHeaderFooter();
            {% endif %}

            {% if form.vars.responsive is not empty %}
            initToolbarResponsive();
            {% endif %}

            document.getElementById('{{ form.vars.id }}_toggler_draggable').addEventListener('change', function(event) {
                if (event.target.checked) {
                    iframe.contentWindow.initSortable();
                    iframe.contentWindow.hideBtnAddBlock();
                } else {
                    iframe.contentWindow.disableSortable();
                    iframe.contentWindow.showBtnAddBlock();
                }
            });

            {#
             # LIVE VIEW - CONTENTTOOLS
             #}

            function initIframe() {
                iframe.addEventListener('load', function() {
                    editor = iframe.contentWindow.editor;
                    btnAddBlock = iframe.contentWindow.elements['btn_add_block'];

                    editor.addEventListener('start', function() {
                        openEdition();
                    });

                    editor.addEventListener('saved', function() {
                        saveEdition();
                        closeEdition();
                    });

                    editor.addEventListener('stop', function() {
                        closeEdition();
                        iframe.contentWindow.disableSortable();
                    });

                    btnAddBlock.addEventListener('click', function(event) {
                        window.addEventListener('click', watchDismissModal);
                        openModal();
                    });

                    btnEdition.addEventListener('click', function(event) {
                        event.preventDefault();
                        editor.start();
                    });

                    btnUpdate.addEventListener('click', function(event) {
                        event.preventDefault();
                        editor.stop(true);
                        iframe.contentWindow.createFlashUI('ok');
                    });

                    btnCancel.addEventListener('click', function(event) {
                        event.preventDefault();
                        editor.stop();
                        revertEdition();
                    });
                });
            }

            function initBlock() {
                iframe.addEventListener('load', function() {
                    var blocks = document.getElementById('{{ form.vars.id }}_blocks').querySelectorAll('[data-render]');

                    for (var i = 0; i < blocks.length; i++) {
                        blocks[i].addEventListener('click', insertBlock);
                    }
                });
            }

            function revertEdition() {
                iframe.srcdoc = textarea.value;
                refreshSource();
            }

            function openEdition() {
                contentToolsView.classList.add('fullscreen');
                btnAddBlock.classList.add('open');
            }

            function closeEdition() {
                contentToolsView.classList.remove('fullscreen');
                btnAddBlock.classList.remove('open');
            }

            /**
             * Get iframe content and paste it in textarea
             */
            function saveEdition() {
                textarea.value = iframe.contentWindow.document.documentElement.outerHTML;
            }

            function insertBlock(event) {
                event.preventDefault();
                var div = document.createElement('div');

                div.classList.add('cms-block');
                div.innerHTML = event.currentTarget.getAttribute('data-render');
                iframe.contentWindow.elements['wrapper'].appendChild(div);
                editor.syncRegions();
                iframe.contentWindow.disableAllLinks();
                closeModal();
            }

            function openModal() {
                document.body.classList.add('krg-modal-opened');
            }

            function closeModal() {
                document.body.classList.remove('krg-modal-opened');
            }

            /**
             * Close modal when a click is detected outside
             */
            function watchDismissModal(event) {
                if (document.body.classList.contains('krg-modal-opened')) {
                    var body = modal.querySelector('.krg-modal-body');

                    if (body && body.contains(event.target) === false) {
                        window.removeEventListener('click', watchDismissModal);
                        closeModal();
                    }
                }
            }

            function initToolbarTogglerHeaderFooter() {
                document.getElementById('{{ form.vars.id }}_toggler_header_footer').addEventListener('change', function(event) {
                    iframe.contentWindow.elements['header'].style.display = iframe.contentWindow.elements['header'].style.display === 'none' ? '' : 'none';
                    iframe.contentWindow.elements['footer'].style.display = iframe.contentWindow.elements['footer'].style.display === 'none' ? '' : 'none';
                });
            }

            function initToolbarResponsive() {
                var responsiveInputs = document.getElementById('{{ form.vars.id }}_toggler_display').querySelectorAll('label');

                for (var i = 0; i < responsiveInputs.length; i++) {
                    responsiveInputs[i].addEventListener('click', function(event) {
                        iframe.style.width = event.target.querySelector('input').value;
                    });
                }
            }

            {#
             # SOURCE VIEW - ACE EDITOR
             #}

            btnSource.addEventListener('click', function(event) {
                event.preventDefault();
                contentToolsView.style.display !== 'none' ? showSource() : hideSource(true);
            });

            btnSourceCancel.addEventListener('click', function (event) {
                event.preventDefault();
                hideSource(false);
            });

            function hideSource(save) {
                contentToolsView.style.display = '';
                sourceView.style.display = 'none';
                btnSource.innerText = 'View source';
                btnSourceCancel.style.display = 'none';
                btnEdition.style.display = '';

                if (true === save) {
                    persistSourceAce();
                }
            }

            function showSource() {
                refreshSource();
                contentToolsView.style.display = 'none';
                sourceView.style.display = '';
                btnSource.innerText = 'Update';
                btnSourceCancel.style.display = '';
                btnEdition.style.display = 'none';
            }

            function refreshSource() {
                aceEditor.getSession().setValue(iframe.contentWindow.document.getElementById('krg_cms_page_wrapper').innerHTML);
                aceEditor.resize(true);
            }

            function initAce() {
                var target = document.querySelector('#{{ form.vars.id }}_part_source pre');

                aceEditor = ace.edit(target, {
                    lang: 'html',
                });
                aceEditor.session.setMode('ace/mode/html');
                aceEditor.session.setUseWorker(false);
            }

            /**
             * Get aceEditor value and save it into the source textarea and iframe
             */
            function persistSourceAce() {
                iframe.contentWindow.elements['wrapper'].innerHTML = aceEditor.getSession().getValue();
                iframe.contentWindow.createFlashUI('ok');
                saveEdition();
            }
        })();
    </script>
{% endblock %}

{% block content_tools_row %}
    <div class="form-group row">
        <div class="col-sm-2">
            <div class="text-right">
                <button id="{{ form.vars.id }}_btn_edition" class="btn btn-primary mb-5" onclick="return false;">Edition mode</button>
                <button id="{{ form.vars.id }}_btn_source" class="btn btn-primary mb-5" onclick="return false;">View source</button>
                <button id="{{ form.vars.id }}_btn_source_cancel" class="btn btn-danger mb-5" style="display: none;" onclick="return false;">Cancel</button>
            </div>
        </div>

        <div class="{{ block('form_group_class') }}">
            {{- form_widget(form) -}}
            {{- form_errors(form) -}}
        </div>
    </div>
{% endblock %}


