{% form_theme form with easyadmin_config('design.form_theme') %}

{% block content_widget %}
    <div style="display: none">
        {{ form_widget(form) }}
    </div>

    <div id="{{ form.vars.id }}_content_tools" class="cms-content-tools">
        <header>
            <div class="pull-left">
                <button id="{{ form.vars.id }}_btn_update" class="btn btn-primary">Update</button>
                <button id="{{ form.vars.id }}_btn_cancel" class="btn btn-danger">Cancel</button>
            </div>

            <div class="pull-right">
                <div class="pull-left" style="margin-right: 30px;">
                    <div class="checkbox">
                        <label><input id="{{ form.vars.id }}_toggler_display_hf"  type="checkbox" value="" checked>Header / footer</label>
                    </div>
                </div>

                <div class="pull-right">
                    <div id="{{ form.vars.id }}_toggler_display" class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-secondary active">
                            <input type="radio" name="options" autocomplete="off" value="100%" checked> Destkop
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="options" value="1024px" autocomplete="off"> Tablet
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="options" value="480px" autocomplete="off"> Mobile
                        </label>
                    </div>
                </div>
            </div>
        </header>

        <section id="{{ form.vars.id }}_modal_blocks" class="krg-modal">
            <div class="krg-modal-body">
                <header class="krg-modal-title">
                    <h3>Insert a block</h3>
                </header>

                <section class="krg-modal-main">
                    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                        <div id="{{ form.vars.id }}_blocks" class="row">
                            {% for block in krg_block_list() %}
                                <div class="col-sm-6 col-md-4">
                                    <a href="#" class="thumbnail" data-render="{% if block.render is defined %}{{ block.render }}{% endif %}">
                                        <img src="{{ asset(block.thumbnail) }}" alt="">
                                        <div class="text-center">
                                            <h3>{{ block.name }}</h3>
                                        </div>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </section>

                <div style="clear:both"></div>
            </div>
        </section>

        <iframe id="{{ form.vars.id }}_iframe" width="100%" height="100%" srcdoc="{{ form.vars.value }}" frameborder="0"></iframe>
    </div>

    <script type="text/javascript">
        (function () {
            var textarea = document.getElementById('{{ form.vars.id }}');
            var iframe = document.getElementById('{{ form.vars.id }}_iframe');
            var div = document.getElementById('{{ form.vars.id }}_content_tools');
            var btnEdit = document.getElementById('{{ form.vars.id }}_btn_edit');
            var btnUpdate = document.getElementById('{{ form.vars.id }}_btn_update');
            var btnCancel = document.getElementById('{{ form.vars.id }}_btn_cancel');
            var togglerResponsive = document.getElementById('{{ form.vars.id }}_toggler_display');
            var togglerDisplayHf = document.getElementById('{{ form.vars.id }}_toggler_display_hf');
            var modalBlocks = document.getElementById('{{ form.vars.id }}_modal_blocks');
            var blockContainer = document.getElementById('{{ form.vars.id }}_blocks');
            var editor, btnAdd = null;

            iframe.addEventListener('load', function (event) {
                editor = iframe.contentWindow.editor;
                btnAdd = iframe.contentWindow.btnAdd;
                krgWidget = iframe.contentWindow.krgWidget;
                wrapper = iframe.contentWindow.wrapper;

                editor.addEventListener('start', function(event) {
                    div.classList.add('fullscreen');
                    krgWidget.classList.add('open');
                });

                editor.addEventListener('stop', function(event) {
                    div.classList.remove('fullscreen');
                    krgWidget.classList.remove('open');
                });

                editor.addEventListener('saved', function(event) {
                    div.classList.remove('fullscreen');
                    krgWidget.classList.remove('open');
                    textarea.value = iframe.contentDocument.body.innerHTML;
                });

                // Toolbar
                btnEdit.addEventListener('click', function(event) {
                    event.preventDefault();
                    editor.start();
                });

                btnUpdate.addEventListener('click', function(event) {
                    event.preventDefault();
                    editor.stop(true);
                });

                btnCancel.addEventListener('click', function(event) {
                    event.stopPropagation();
                    editor.stop();
                });

                var responsiveInputs = togglerResponsive.querySelectorAll('label');
                for (var i = 0; i < responsiveInputs.length; i++) {
                    responsiveInputs[i].addEventListener('click', function(event) {
                        setIframeWidth(event.target.querySelector('input').value);
                    });
                }

                togglerDisplayHf.addEventListener('change', function(event) {
                    toggleHeaderFooterDisplay(event.target.checked === true ? '' : 'none');
                });

                // Blocks
                btnAdd.addEventListener('click', function(event) {
                    document.body.classList.add('krg-modal-opened');
                    window.addEventListener('click', watchModal);
                });

                var blocks = blockContainer.querySelectorAll('[data-render]');
                for (var i = 0; i < blocks.length; i++) {
                    blocks[i].addEventListener('click', insertBlock, false);
                }
            });

            function insertBlock(event) {
                event.preventDefault();
                var render = event.currentTarget.getAttribute('data-render');
                var wrap = document.createElement('div');

                wrap.classList.add('block-cms');
                wrap.innerHTML = render;
                wrapper.appendChild(wrap);
                editor.syncRegions();
                document.body.classList.remove('krg-modal-opened');
            }

            function watchModal(event)
            {
                if (document.body.classList.contains('krg-modal-opened')) {
                    if (modalBlocks.querySelector('.krg-modal-content').contains(event.target) === false) {
                        document.body.classList.remove('krg-modal-opened');
                        window.removeEventListener('click', watchModal);
                    }
                }
            }

            function toggleHeaderFooterDisplay(display) {
                iframe.contentWindow.header.style.display = display;
                iframe.contentWindow.footer.style.display = display;
            }

            function setIframeWidth(width) {
                iframe.style.width = width;
            }
        })();
    </script>
{% endblock %}

{% block content_label %}
    {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' control-label')|trim}) -%}

    {% if label is not same as(false) -%}
        {% set label = name|humanize %}
        <{{ element|default('label') }}{% if label_attr %}{% with { attr: label_attr } %}{{ block('attributes') }}{% endwith %}{% endif %}>{{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}</{{ element|default('label') }}>
    {%- endif -%}
{% endblock %}

{% block content_row %}
    <div class="form-group row{% if (not compound or force_error|default(false)) and not valid %} is-invalid{% endif %}">
        <div class="col-sm-2">
            <div class="text-right">
                {{- form_label(form) -}}<br>
                <button id="{{ form.vars.id }}_btn_edit" class="btn btn-primary">Edition mode</button>
            </div>
        </div>

        <div class="{{ block('form_group_class') }}">
            {{- form_widget(form) -}}
            {{- form_errors(form) -}}
        </div>
    </div>
{% endblock %}


