{% block html_widget %}
    <div class="form-control krg-cms-form-control">
        <section id="{{ form.vars.id }}_content" class="cms-content-tools" style="height: {{ height }}px">
            <header>
                <div class="pull-left">
                    <button id="{{ form.vars.id }}_btn_update" class="btn btn-primary">{{ 'Update'|trans({}, 'admin') }}</button>
                    <button id="{{ form.vars.id }}_btn_cancel" class="btn btn-danger">{{ 'Cancel'|trans({}, 'admin') }}</button>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <button id="{{ form.vars.id }}_btn_source" class="btn btn-warning" data-alttext="{{ 'Render'|trans({}, 'admin') }}">{{ 'Source'|trans({}, 'admin') }}</button>
                    {% endif %}
                </div>

                <div id="{{ form.vars.id }}_iframe_toolbar" class="pull-right">
                    {% if not form.vars.fragment %}
                        <div class="pull-left" style="margin-right: 30px;">
                            <div class="checkbox">
                                <label><input id="{{ form.vars.id }}_fragment_toggle" type="checkbox" checked>{{ 'Header / footer'|trans({}, 'admin') }}</label>
                            </div>
                        </div>
                    {% endif %}

                    <div class="pull-right">
                        {% if form.vars.responsive is not empty %}
                            <div id="{{ form.vars.id }}_display_toggle" class="btn-group btn-group-toggle" data-toggle="buttons">
                                {% for responsive in form.vars.responsive %}
                                    <label class="btn btn-secondary{% if loop.first %} active{% endif %}">
                                        <input type="radio" autocomplete="off" value="{{ responsive.width }}*{{ responsive.height is defined ? responsive.height : '100%' }}" checked> {{ responsive.label|trans({}, 'admin') }}
                                    </label>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </header>

            <div style="display: contents">
                <iframe id="{{ form.vars.id }}_iframe" class="html_content_iframe" width="100%" height="100%" frameborder="0"></iframe>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                     <div id="{{ form.vars.id }}_source" class="cms-content-source" style="display: none; overflow-y: scroll; height: 100%"></div>
                {% endif %}
            </div>
        </section>

        <div class="btn-group" role="group" style="margin: 20px 0 5px">
            <button id="{{ form.vars.id }}_btn_edit" class="btn btn-info" disabled="disabled">
                <i id="{{ form.vars.id }}_btn_edit_icon" class="fa fa-spinner fa-pulse"></i>
                {{ 'Edit HTML'|trans({}, 'admin') }}
            </button>
        </div>

        {{ form_widget(form) }}

        <script src="{{ asset('bundles/krgcms/html2canvas/html2canvas.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/krgcms/ace/ace.js') }}" type="text/javascript" charset="utf-8"></script>

        <script type="text/javascript">
            document.addEventListener('DOMContentLoaded', function () {
                var textarea = document.getElementById('{{ form.vars.id }}');
                var iframe = document.getElementById('{{ form.vars.id }}_iframe');
                var contentView = document.getElementById('{{ form.vars.id }}_content');
                var iframeToolbar = document.getElementById('{{ form.vars.id }}_iframe_toolbar');
                var btnEdit = document.getElementById('{{ form.vars.id }}_btn_edit');
                var btnSave = document.getElementById('{{ form.vars.id }}_btn_update');
                var btnCancel = document.getElementById('{{ form.vars.id }}_btn_cancel');
                var extraHideArray = [{% for extra in extra_hide_elements %}'{{ extra }}'{% if not loop.last %},{% endif %}{% endfor %}];

                var source = null;

                iframe.addEventListener('load', function() {
                    document.getElementById('{{ form.vars.id }}_btn_edit_icon').className = 'fa fa-code';
                    btnEdit.removeAttribute('disabled');
                });

                load();

                {% if not form.vars.fragment %}
                toolbarTogglerHeaderFooter();
                {% endif %}

                {% if form.vars.responsive is not empty %}
                toolbarResponsive();
                {% endif %}

                iframe.addEventListener('load', function () {
                    {% if form.vars.fragment %}
                    iframe.contentWindow.toggleHeaderFooter(extraHideArray);
                    {% endif %}

                    btnEdit.addEventListener('click', function (event) {
                        event.preventDefault();
                        open();
                    });

                    btnSave.addEventListener('click', function (event) {
                        event.preventDefault();
                        close();
                        save();
                    });

                    btnCancel.addEventListener('click', function (event) {
                        event.preventDefault();
                        close();
                        load();
                    });
                });

                function load() {
                    iframe.srcdoc = decodeURIComponent(escape(atob(textarea.value)));
                }

                function open() {
                    iframe.contentWindow.start();
                    contentView.classList.add('fullscreen');
                }

                function close() {
                    if (source instanceof HTMLElement && iframe.style.display === 'none' && source.style.display !== 'none') {
                        toggleSource();
                        persistSource();
                    }

                    iframe.contentWindow.stop();

                    contentView.classList.remove('fullscreen');
                }

                function save() {
                    var element = iframe.contentWindow.document.getElementById('krg_cms_page_wrapper');
                    var thumbnailBlock = document.getElementById('block_thumbnail');

                    html2canvas(element).then(function (canvas) {
                        thumbnailBlock.value = canvas.toDataURL("image/png");
                    });

                    var html = iframe.contentWindow.document.documentElement.outerHTML;
                    textarea.value = btoa(unescape(encodeURIComponent(html)));

                }

                function toolbarTogglerHeaderFooter() {
                    document.getElementById('{{ form.vars.id }}_fragment_toggle').addEventListener('change', function (event) {
                        iframe.contentWindow.toggleHeaderFooter(extraHideArray);
                    });
                }

                function toolbarResponsive() {
                    var responsiveInputs = document.getElementById('{{ form.vars.id }}_display_toggle').querySelectorAll('label');

                    for (var i = 0; i < responsiveInputs.length; i++) {
                        responsiveInputs[i].addEventListener('click', function (event) {
                            var dimensions = event.target.querySelector('input').value.split("*");

                            iframe.style.width = dimensions[0];
                            iframe.style.height = dimensions[1];
                            if (dimensions[1] !== '100%' && parseInt(dimensions[1]) < screen.height - contentView.getElementsByTagName('header')[0].clientHeight) {
                                iframe.style.top = '50%';
                                iframe.style.marginTop = '-' + (parseInt(dimensions[1]) / 2) + 'px';
                            } else {
                                iframe.style.top = '';
                                iframe.style.marginTop = '';
                            }
                        });
                    }
                }

                {% if is_granted('ROLE_SUPER_ADMIN') %}
                var aceEditor = null;
                source = document.getElementById('{{ form.vars.id }}_source');
                var btnSource = document.getElementById('{{ form.vars.id }}_btn_source');

                btnSource.addEventListener('click', function (event) {
                    event.preventDefault();
                    var display = source.style.display;

                    if (display === 'none') {
                        iframe.contentWindow.stop();
                        initAce();
                        toggleSource();
                        refreshSource();
                    } else {
                        toggleSource();
                        persistSource();
                        iframe.contentWindow.start();
                    }
                });

                function toggleSource() {
                    var altText = btnSource.dataset.alttext;

                    source.style.display = source.style.display === 'none' ? '' : 'none';
                    iframe.style.display = iframe.style.display === 'none' ? '' : 'none';
                    iframeToolbar.style.display = iframeToolbar.style.display === 'none' ? '' : 'none';
                    btnSource.dataset.alttext = btnSource.innerText;
                    btnSource.innerText = altText;
                }

                function initAce() {
                    if (aceEditor === null) {
                        aceEditor = ace.edit(source, {
                            autoScrollEditorIntoView: true,
                        });
                        aceEditor.session.setMode('ace/mode/html');
                        aceEditor.session.setUseWorker(false);
                    }

                    refreshSource();
                }

                function refreshSource() {
                    aceEditor.getSession().setValue(iframe.contentWindow.document.getElementById('krg_cms_page_wrapper').innerHTML);
                    aceEditor.resize(true);
                }

                function persistSource() {
                    iframe.contentWindow.document.getElementById('krg_cms_page_wrapper').innerHTML = aceEditor.getSession().getValue();
                }
                {% endif %}
            });
        </script>
    </div>
{% endblock %}
