{% block krg_cms_seo_row %}
    <div id="{{ form.vars.id }}_metas" class="{{ hidden }}">
        {{ form_row(form.url) }}

        {% if form.title is defined %}
            {{ form_row(form.title) }}
        {% endif %}

        {{ form_row(form.metaTitle) }}
        {{ form_row(form.metaDescription) }}

        {% if form.preContent is defined %}
            {{ form_row(form.preContent) }}
        {% endif %}

        {% if form.postContent is defined %}
            {{ form_row(form.postContent) }}
        {% endif %}
    </div>
{% endblock %}

