{% block krg_cms_url_widget %}
    {{ form_row(form.related, {'attr': {'data-widget': 'select2'}}) }}

    <div class="krg-separator">
        <span class="krg-separator-text">
            {{ 'or'|trans({}, 'admin') }}
        </span>
    </div>

    {{ form_row(form.url) }}

    <script type="text/javascript">
        (function () {
            var urlInput = document.getElementById('{{ form.url.vars.id }}');
            var blockSelect = document.getElementById('{{ form.related.vars.id }}');

            urlInput.addEventListener('keydown', function() {
                if (null !== $(blockSelect).val()) {
                    $(blockSelect).select2('val', '');
                }
            });

            $(blockSelect).select2().on('change', function() {
                urlInput.value = '';
            });
        })();
    </script>
{% endblock %}

